.list-item i {
    font-size: 30px;
}
.list-item {
    font-size: 18px;
    border-bottom: 1px solid #000;
    background-color: #D2F898;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.list-item:hover {
    background-color: #F6F930 ;
    border-bottom: 1px solid #FCFCFC;
    /* color: #FCFCFC; */
}
.list-item span {
    font-family: 'Montserrat-Regular';
}